.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #1B6C8D;
}
.search {
    align-items: center;
    background-color: #1B6C8D;
    padding: 20px;
    display: flex;
}

.search__bar{
    background-color: #044B68;
    align-items: center;
    padding: 20px;
    display: flex;
    border-radius: 90px;
    border-color: #044B68;
    color: white;
}